@import "../../../styles/variables.scss";

.ChallengeResults {
  width: 100%;

  ol {
    list-style: none;

    li {
      &:nth-child(odd) {
        background-color: snow;
      }

      &:nth-child(even) {
        background-color: lightgrey;
      }
    }
  }
}

.ChallengeResults__heading {
  color: black;
  background-color: $teal;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
}
