@import "../../../styles/variables.scss";

.ChallengeResults {
  display: flex;
  flex-direction: column;
  background-color: snow;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  ol {
    list-style: none;

    li {
      &:nth-child(odd) {
        background-color: snow;
      }

      &:nth-child(even) {
        background-color: lightgrey;
      }
    }
  }
}

.ChallengeResults__heading {
  color: black;
  background-color: $teal;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
