.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.pokemon-information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pokemon-information img {
  max-width: 300px;
}

.pokemon-draft-buttons {
  display: flex;
}

.app-pooled-pokemon-container {
  width: 8%;
  height: 100%;
}

.app-pokemon-information-container {
  width: 92%;
  min-width: 218px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}