@import "bulma/sass/utilities/initial-variables.sass";

.ChallengeView__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title, .subtitle {
    text-align: center;
  }
}

.ChallengeView__header-buttons, button {
  width: 100%;
}

@media (min-width: $tablet) {
  .ChallengeView__header {
    flex-direction: row;
    justify-content: space-between;

    .title, .subtitle {
      text-align: left;
    }
  }

  .ChallengeView__header-buttons, button {
    width: auto;
  }

}