.Header {
  width: 100%;
}

.Header__night-mode-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.Header__night-emoji {
  font-size: 1.35rem;
  margin-right: 6px;
}