@import "bulma/sass/utilities/initial-variables.sass";

.Header {
  width: 100%;

  .Header__log-out-button-column {
    margin-left: auto
  }
}

@media (max-width: $tablet) {
  .Header__log-out-button {
    width: 100%;
  }
}
