@import "bulma/sass/utilities/initial-variables.sass";

.Header {
  width: 100%;

  .Header__log-out-button-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: $tablet) {
  .Header__log-out-button {
    width: 100%;
  }
}
