@import "bulma/sass/utilities/initial-variables.sass";


@media (max-width: $tablet) {
  .Header__log-out-button {
    width: 100%;
  }

  .Header {
    .Header__logo-column {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}