.PokemonInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.PokemonInformation__image {
  max-width: 450px;
}

.PokemonInformation__name {
  font-size: 48px;
  font-weight: bold;
}

.PokemonInformation__name::first-letter {
  text-transform: capitalize;
}
