@import "bulma/sass/utilities/initial-variables.sass";
@import "../../styles/variables.scss";

.PooledPokemon {
  height: 100%;
  width: 100%;
  background-color: snow;

  ol {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    height: calc(100% - 44px);
    overflow-y: auto;
  }
}

.PooledPokemon__heading {
  text-align: center;
  background-color: $teal;
  margin: 0;
  padding: 10px 0;
}

.PooledPokemon__pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  img {
    width: 40px;
  }

  &:nth-child(odd) {
    background-color: snow;
  }

  &:nth-child(even) {
    background-color: lightgrey;
  }

  p {
    margin: 0;
    padding-top: 3px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
