.PooledPokemon {
  height: 100%;
  width: 100%;
  background-color: snow;
  overflow: hidden;
}

.PooledPokemon__heading {
  text-align: center;
  background-color: #00d1b2;
  color: snow;
  margin: 0;
  padding: 10px 0;
}

.PooledPokemon ol {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.PooledPokemon__pokemon {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 10px 0;
}

.PooledPokemon img {
  width: 40px;
}

.PooledPokemon__pokemon p {
  margin: 0;
  padding-top: 3px;
}

.PooledPokemon__pokemon p::first-letter {
  text-transform: capitalize;
}

.PooledPokemon__pokemon:nth-child(odd) {
  background-color: snow;
}

.PooledPokemon__pokemon:nth-child(even) {
  background-color: lightgrey;
}
