@use "sass:map";

.VersionTag {
  margin: 0;
  text-transform: capitalize;
}

$pokemon-version-stylings: (
  "red": (
    "background-color": #f8686a,
    "color": black,
  ),
  "blue": (
    "background-color": #858dff,
    "color": black,
  ),
  "yellow": (
    "background-color": #fdff80,
    "color": black,
  ),
  "gold": (
    "background-color": #ffd642,
    "color": black,
  ),
  "silver": (
    "background-color": #e3e3e3,
    "color": black,
  ),
  "crystal": (
    "background-color": #71fafe,
    "color": black,
  ),
  "ruby": (
    "background-color": #990800,
    "color": white,
  ),
  "sapphire": (
    "background-color": #003b99,
    "color": white,
  ),
  "emerald": (
    "background-color": #00ad23,
    "color": black,
  ),
);

@each $version, $styling in $pokemon-version-stylings {
  .VersionTag__#{$version} {
    color: black !important;
    background-color: map-get($styling, "background-color") !important;
  }
}
