.LoginForm {
  display: flex;
  flex-direction: column;
}

.LoginForm__input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.LoginForm__input-group label:first-of-type {
  margin-bottom: 8px;
}
