@import "bulma/sass/utilities/initial-variables.sass";

.DraftPoolView__pokemon {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: $tablet) {
  .DraftPoolView__pokemon {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $desktop) {
  .DraftPoolView__pokemon {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $widescreen) {
  .DraftPoolView__pokemon {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: $fullhd) {
  .DraftPoolView__pokemon {
    grid-template-columns: repeat(5, 1fr);
  }
}