@import "bulma/sass/utilities/initial-variables.sass";

.LiveDraftPoolView {
  flex-grow: 1;
  height: 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: $tablet) {
  .LiveDraftPoolView {
    flex-direction: row;
  }
}
