@import "bulma/sass/utilities/initial-variables.sass";

.LiveDraftPoolView {
  flex-grow: 1;
  height: 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.LiveDraftPoolView__pokemon-information-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .LiveDraftPoolView__title {
    justify-self: flex-start;
  }
}

@media (min-width: $tablet) {
  .LiveDraftPoolView {
    flex-direction: row;
  }
}
