.Login {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login__form-window {
  background-color: #00d1b2;
  border-radius: 5px;
  padding: 50px;
}