.pooledPokemon {
  height: 100%;
  width: 100%;
}

.pooledPokemon-heading {
  text-align: center;
  background-color: slategrey;
  margin: 0;
  padding: 10px 0;
}

.pooledPokemon ol {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pooledPokemon-pokemon {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-bottom: 8px;
}

.pooledPokemon img {
  width: 40px;
}

.pooledPokemon-pokemon p {
  margin: 0;
  padding: 5px 0 0 0;
}

.pooledPokemon-pokemon p::first-letter {
  text-transform: capitalize;
}